.mainUserPage {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
  }

  .UserCard {
    width: 80%;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EBEDF1;

    .title {
      font-size: 2rem;
      font-family: 'Roboto';
      font-weight: bold;
      text-transform: uppercase;
    }

    h4 {
      color: black;
      font-family: 'Roboto';
      font-size: 1.4em;
      font-weight: bold;
      margin: 1em 1em 0 1em;
    }

    .email,
    .username,
    .user_id {
      font-family: 'Roboto';
      font-size: 1.4em;
      font-weight: bold;
      margin: 1em 1em 0 1em;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: gray;
      }
    }
  }
}