@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

nav {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
}
.navLogo {
    width: 125px;
    margin-left: 10px;
}

