@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

nav {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    background-color: rgba(236, 238, 239, 1);
}

.navbar {
    padding: 20px 10px;
}

.navLogo {
    width: 125px;
    margin-left: 10px;
}

